/build/
/.idea/
/.dart_tool/
build/
/build/
build/flutter_assets/NOTICES
build/flutter_assets/assets/icons/apple_file.png
build/flutter_assets/assets/icons/.DS_Store
build/flutter_assets/AssetManifest.json
build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
